<h1>All orders</h1>

<style>
body {
    background-color: #f4f4f4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}
    table {
        width: 100%;
        border-collapse: collapse;
        font-family: Arial, sans-serif;
    }
    thead{
        background-color: #007bff;
        color: #ffffff;
    }
    th, td {
        border: 1px solid #ddd;
        text-align: left;
        padding: 10px;
        vertical-align: top;
    }
    tbody tr:hover {
        background-color: #f1f1f1;
    }
    h1{

        margin-bottom: 20px;
    }
    td:nth-child(4) {
        max-width: 300px;
        word-wrap: break-word;
    }
</style>

<table>
    <thead>
        <tr>
            <th>Client Name</th>
            <th>Email</th>
            <th>Size</th>
            <th>Ingredients</th>
            <th>Comment</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.clientName }}</td>
                <td>{{ order.email }}</td>
                <td>{{ order.size }}</td>
                <td>{{ order.ingredients|join(', ') }}</td>
                <td>{{ order.comment }}</td>
                <td>{{ order.createdAt|date('Y-m-d H:i:s', 'Europe/Sofia') }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">No orders found.</td>
            </tr>
        {% endfor %}
    </tbody>
</table>