<h1>Order Pizza</h1>

{{ form_start(orderForm) }}
    {{ form_row(orderForm.clientName) }}
    {{ form_row(orderForm.email) }}
    {{ form_row(orderForm.size) }}
    {{ form_row(orderForm.ingredients) }}
    {{ form_row(orderForm.comment) }}
    <button type="submit">Order</button>
{{ form_end(orderForm) }}