<h1>Order Pizza</h1>

{{ form_start(form) }}
    {{ form_row(form.clientName) }}
    {{ form_row(form.email) }}
    {{ form_row(form.size) }}
    {{ form_row(form.ingredients) }}
    {{ form_row(form.comment) }}
    <button type="submit">Order</button>
{{ form_end(form) }}